* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#check {
    display: none;
}

.container {
    width: 100%;
    text-align: center;
}

.container h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.container h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.top-content {
    background-color: rgb(243, 243, 243);
    width: 100%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.top-content span {
    height: 100%;
    line-height: 50px;
    background-color: #106eea;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 50px;
    color: #f9f9f9;
}

.top-content label {
    display: inline-block;
    height: 100%;
    margin: 0 30px;
    line-height: 60px;
    font-size: 25px;
    color: #106eea;
    cursor: pointer;
    transition: .5s;
}

.top-content label:hover {
    color: black;
}

.photo-gallery {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 500px;
    /* Hauteur de chaque image */
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.pic::before {
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.pic:hover::after {
    height: 100%;
}

.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 15% auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries for Responsive Design */

@media (max-width: 1024px) {
    .photo-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .pic {
        height: 300px;
    }
}

@media (max-width: 1100px) {
    .top-content {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    h3 {
        width: 100%;
        padding: 10px 0;
    }

    label {
        margin: 10px 0;
        line-height: normal;
        font-size: 16px;
    }

    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .pic {
        height: 250px;
    }
}

@media (max-width: 700px) {
    .top-content {
        padding: 5px 0;
    }

    h1 {
        font-size: 28px;
        margin: 20px 0;
    }

    h3 {
        padding: 5px 0;
        font-size: 18px;
    }

    label {
        margin: 5px 0;
        font-size: 14px;
    }

    .photo-gallery {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .pic {
        height: 400px;
    }

    .pic img {
        height: 100%;
    }
}